In [ ]:
#UCB Project 1 Homelessness vs real estate prices
#Read and clean up Zillow Economics Data (1996-2017) 
#CITY DATA

In [114]:
#Import dependencies
import csv
from pandas import *
from IPython.display import display

In [150]:
#Read and assess the file
data_chunks = read_csv("City_time_series.csv", iterator=True, chunksize=500000)
city_prices_df= concat(data_chunks, ignore_index=True)
display(city_prices_df.head())

city_geo_df= read_csv("cities_crosswalk.csv")
city_geo_df= region_df.rename(columns = {'Unique_City_ID' : 'RegionName'})
display(city_geo_df.head())

,Date,RegionName,HomesSoldAsForeclosuresRatio_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,44700.0,44700.0,74500.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,87400.0,131000.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,abilenetaylortx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

              RegionName            City     County State
0   oak_grovechristianky       Oak Grove  Christian    KY
1  jarvisburgcurritucknc      Jarvisburg  Currituck    NC
2   mcminnvilleyamhillor     McMinnville    Yamhill    OR
3   union_townshiperiepa  Union Township       Erie    PA
4     oshkoshwinnebagowi         Oshkosh  Winnebago    WI

In [151]:
#Output anatomy of files
print ('Total # of rows in df: %s' % (len(city_prices_df)))
print ('Total # of columns in df: %s' % len(city_prices_df.columns))
#df.info()
#print(list(city_prices_df))

print ('Total # of rows in region_df: %s' % (len(city_geo_df)))
print ('Total # of columns in region_df: %s' % len(city_geo_df.columns))
#df.info()
#print(list(city_geo_df))

Total # of rows in df: 4172721
Total # of columns in df: 85
Total # of rows in region_df: 25341
Total # of columns in region_df: 4

In [154]:
#Create a new df with the columns of interest
# HVI - a smoothed seasonally adjusted measure of the median estimated home value across a given region and housing type
Zillow_df = city_prices_df[["Date","RegionName","MedianSoldPricePerSqft_AllHomes","MedianSoldPricePerSqft_SingleFamilyResidence",
               "MedianSoldPrice_AllHomes","ZHVIPerSqft_AllHomes","ZHVI_AllHomes", "ZHVI_SingleFamilyResidence"]]  
                            
#display(Zillow_df)

#Merge the two dataframes
merged_df = pd.merge(city_geo_df, Zillow_df, on="RegionName")
display(merged_df)

#Checkout merged_df output
print ('Total # of rows in df: %s' % (len(merged_df)))
print ('Total # of columns in df: %s' % len(merged_df.columns))
#merged_df.info()

,RegionName,City,County,State,Date,MedianSoldPricePerSqft_AllHomes,MedianSoldPricePerSqft_SingleFamilyResidence,MedianSoldPrice_AllHomes,ZHVIPerSqft_AllHomes,ZHVI_AllHomes,ZHVI_SingleFamilyResidence
0,oak_grovechristianky,Oak Grove,Christian,KY,1996-04-30,NaN,NaN,NaN,62.0,70000.0,70000.0
1,oak_grovechristianky,Oak Grove,Christian,KY,1996-05-31,NaN,NaN,NaN,62.0,69900.0,69900.0
2,oak_grovechristianky,Oak Grove,Christian,KY,1996-06-30,NaN,NaN,NaN,62.0,69700.0,69700.0
3,oak_grovechristianky,Oak Grove,Christian,KY,1996-07-31,NaN,NaN,NaN,62.0,70000.0,70000.0
4,oak_grovechristianky,Oak Grove,Christian,KY,1996-08-31,NaN,NaN,NaN,62.0,70100.0,70100.0
5,oak_grovechristianky,Oak Grove,Christian,KY,1996-09-30,NaN,NaN,NaN,62.0,70000.0,70000.0
6,oak_grovechristianky,Oak Grove,Christian,KY,1996-10-31,NaN,NaN,NaN,61.0,69900.0,69900.0
7,oak_grovechristianky,Oak Grove,Christian,KY,1996-11-30,NaN,NaN,NaN,61.0,69700.0,69700.0
8,oak_grovechristianky,Oak Grove,Christian,KY,1996-12-31,NaN,NaN,NaN,61.0,69100.0,69100.0
9,oak_grovechristianky,Oak Grove,Christian,KY,1997-01-31,NaN,NaN,NaN,61.0,68400.0,68400.0
10,oak_grovechristianky,Oak Grove,Christian,KY,1997-02-28,NaN,NaN,NaN,60.0,67800.0,67800.0
11,oak_grovechristianky,Oak Grove,Christian,KY,1997-03-31,NaN,NaN,NaN,60.0,67100.0,67100.0
12,oak_grovechristianky,Oak Grove,Christian,KY,1997-04-30,NaN,NaN,NaN,60.0,66100.0,66100.0
13,oak_grovechristianky,Oak Grove,Christian,KY,1997-05-31,NaN,NaN,NaN,59.0,65100.0,65100.0
14,oak_grovechristianky,Oak Grove,Christian,KY,1997-06-30,NaN,NaN,NaN,58.0,64700.0,64700.0
15,oak_grovechristianky,Oak Grove,Christian,KY,1997-07-31,NaN,NaN,NaN,57.0,64600.0,64600.0
16,oak_grovechristianky,Oak Grove,Christian,KY,1997-08-31,NaN,NaN,NaN,58.0,64400.0,64400.0
17,oak_grovechristianky,Oak Grove,Christian,KY,1997-09-30,NaN,NaN,NaN,59.0,64700.0,64700.0
18,oak_grovechristianky,Oak Grove,Christian,KY,1997-10-31,NaN,NaN,NaN,59.0,65200.0,65200.0
19,oak_grovechristianky,Oak Grove,Christian,KY,1997-11-30,NaN,NaN,NaN,60.0,65600.0,65600.0
20,oak_grovechristianky,Oak Grove,Christian,KY,1997-12-31,NaN,NaN,NaN,60.0,65700.0,65700.0
21,oak_grovechristianky,Oak Grove,Christian,KY,1998-01-31,NaN,NaN,NaN,60.0,66000.0,66000.0
22,oak_grovechristianky,Oak Grove,Christian,KY,1998-02-28,NaN,NaN,NaN,60.0,66500.0,66500.0
23,oak_grovechristianky,Oak Grove,Christian,KY,1998-03-31,NaN,NaN,NaN,59.0,66900.0,66900.0
24,oak_grovechristianky,Oak Grove,Christian,KY,1998-04-30,NaN,NaN,NaN,59.0,67100.0,67100.0
25,oak_grovechristianky,Oak Grove,Christian,KY,1998-05-31,NaN,NaN,NaN,60.0,67400.0,67400.0
26,oak_grovechristianky,Oak Grove,Christian,KY,1998-06-30,NaN,NaN,NaN,60.0,67600.0,67600.0
27,oak_grovechristianky,Oak Grove,Christian,KY,1998-07-31,NaN,NaN,NaN,61.0,68000.0,68000.0
28,oak_grovechristianky,Oak Grove,Christian,KY,1998-08-31,NaN,NaN,NaN,61.0,68300.0,68300.0
29,oak_grovechristianky,Oak Grove,Christian,KY,1998-09-30,NaN,NaN,NaN,61.0,68100.0,68100.0
...,...,...,...,...,...,...,...,...,...,...,...
4172691,henricohenricova,Henrico,Henrico,VA,2015-03-31,123.1458,126.2622,222325.0,123.0,208900.0,218000.0
4172692,henricohenricova,Henrico,Henrico,VA,2015-04-30,129.9062,131.1285,235975.0,124.0,210400.0,219600.0
4172693,henricohenricova,Henrico,Henrico,VA,2015-05-31,130.6975,130.4336,235625.0,125.0,212400.0,221000.0
4172694,henricohenricova,Henrico,Henrico,VA,2015-06-30,136.2351,136.5202,246625.0,125.0,213500.0,221500.0
4172695,henricohenricova,Henrico,Henrico,VA,2015-07-31,139.2337,141.4027,245550.0,124.0,213100.0,221200.0
4172696,henricohenricova,Henrico,Henrico,VA,2015-08-31,139.0673,141.2444,242382.5,124.0,212900.0,221100.0
4172697,henricohenricova,Henrico,Henrico,VA,2015-09-30,134.8130,134.8645,235842.5,125.0,213300.0,221500.0
4172698,henricohenricova,Henrico,Henrico,VA,2015-10-31,132.5857,131.0316,239575.0,125.0,214100.0,222200.0
4172699,henricohenricova,Henrico,Henrico,VA,2015-11-30,134.0385,132.2902,233075.0,125.0,214800.0,223000.0
4172700,henricohenricova,Henrico,Henrico,VA,2015-12-31,131.9681,131.5104,231965.0,125.0,215700.0,223800.0
4172701,henricohenricova,Henrico,Henrico,VA,2016-01-31,123.7981,123.8372,227685.0,126.0,215900.0,224000.0
4172702,henricohenricova,Henrico,Henrico,VA,2016-02-29,123.7773,123.8845,226630.0,126.0,214800.0,223200.0
4172703,henricohenricova,Henrico,Henrico,VA,2016-03-31,127.8503,126.3637,229320.0,126.0,213700.0,222100.0
4172704,henricohenricova,Henrico,Henrico,VA,2016-04-30,131.3571,129.6648,230425.0,126.0,214400.0,222700.0
4172705,henricohenricova,Henrico,Henrico,VA,2016-05-31,136.9592,136.8512,246432.5,127.0,216100.0,224500.0
4172706,henricohenricova,Henrico,Henrico,VA,2016-06-30,140.8765,141.5413,261192.5,128.0,218000.0,226200.0
4172707,henricohenricova,Henrico,Henrico,VA,2016-07-31,143.0572,143.5508,NaN,129.0,220000.0,227900.0
4172708,henricohenricova,Henrico,Henrico,VA,2016-08-31,NaN,NaN,NaN,130.0,222200.0,229800.0
4172709,henricohenricova,Henrico,Henrico,VA,2016-09-30,NaN,NaN,NaN,131.0,223700.0,231200.0
4172710,henricohenricova,Henrico,Henrico,VA,2016-10-31,NaN,NaN,NaN,132.0,224300.0,231800.0
4172711,henricohenricova,Henrico,Henrico,VA,2016-11-30,NaN,NaN,NaN,133.0,224900.0,232900.0
4172712,henricohenricova,Henrico,Henrico,VA,2016-12-31,NaN,NaN,NaN,133.0,225800.0,234200.0
4172713,henricohenricova,Henrico,Henrico,VA,2017-01-31,NaN,NaN,NaN,134.0,226200.0,234500.0
4172714,henricohenricova,Henrico,Henrico,VA,2017-02-28,NaN,NaN,NaN,134.0,226900.0,234400.0
4172715,henricohenricova,Henrico,Henrico,VA,2017-03-31,NaN,NaN,NaN,134.0,228000.0,234800.0
4172716,henricohenricova,Henrico,Henrico,VA,2017-04-30,NaN,NaN,NaN,135.0,229200.0,236100.0
4172717,henricohenricova,Henrico,Henrico,VA,2017-05-31,NaN,NaN,NaN,136.0,229800.0,237400.0
4172718,henricohenricova,Henrico,Henrico,VA,2017-06-30,NaN,NaN,NaN,136.0,230100.0,238300.0
4172719,henricohenricova,Henrico,Henrico,VA,2017-07-31,NaN,NaN,NaN,136.0,230800.0,239300.0
4172720,henricohenricova,Henrico,Henrico,VA,2017-08-31,NaN,NaN,NaN,137.0,231900.0,240400.0

Total # of rows in df: 4172721
Total # of columns in df: 11

In [153]:
#Remove data prior to 2007
#"Date" is an object
#merged_df.drop(pd.to_datetime('1996-04-30'))

#Set date as index
#merged_df=merged_df.set_index('Date')
#grouped= merged_df.groupby(["Date"])

# mod_merged=grouped.loc[['Date'] < 2007, ["RegionName":"ZHVI_SingleFamilyResidence"]]
# display(grouped.count())

In [158]:
#Select cities, based on cross-examination of data available from HUD dataset
Cities = ["New York", "Philadelphia", "Boston", "Washington", "Chicago", "Minneapolis",
        "Denver", "Salt Lake City", "Seattle", "Los Angeles", "San Francisco", "Miami", 
        "Charlotte", "Atlanta", "Detroit", "Anchorage", "Honolulu", "Indianapolis"]

#Create a new dataframe only with data for the selected cities -WORK IN PROGRESS
for row in merged_df:
    if city in Cities:
        df.loc['City', 'City':'ZHVI_SingleFamilyResidence']


#Clean dataframe - remove data before 2007 and remove columns mostly empty
# df.dropna(axis=1, how='any', inplace=True)
# display(df)
# print ('Total # of rows: %s' % (len(Zillow_df)))
# print ('Total # of columns: %s' % len(Zillow_df.columns))

#Export as csv file

NameError: name 'city' is not defined