In [1]:
#UCB Project 1 Homelessness vs real estate prices
#Read and clean up Zillow Economics Data (1996-2017) 
#CITY DATA

In [2]:
#Import dependencies
import csv
import pandas as pd
from pandas import *
from IPython.display import display

In [3]:
#Read and assess the file
data_chunks = read_csv("City_time_series.csv", iterator=True, chunksize=500000)
city_prices_df= concat(data_chunks, ignore_index=True)
display(city_prices_df.head())

city_geo_df= read_csv("cities_crosswalk.csv")
city_geo_df= city_geo_df.rename(columns = {'Unique_City_ID' : 'RegionName'})
display(city_geo_df.head())

,Date,RegionName,HomesSoldAsForeclosuresRatio_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,44700.0,44700.0,74500.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,87400.0,131000.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,abilenetaylortx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

              RegionName            City     County State
0   oak_grovechristianky       Oak Grove  Christian    KY
1  jarvisburgcurritucknc      Jarvisburg  Currituck    NC
2   mcminnvilleyamhillor     McMinnville    Yamhill    OR
3   union_townshiperiepa  Union Township       Erie    PA
4     oshkoshwinnebagowi         Oshkosh  Winnebago    WI

In [4]:
#Output anatomy of files
print ('Total # of rows in df: %s' % (len(city_prices_df)))
print ('Total # of columns in df: %s' % len(city_prices_df.columns))
#df.info()
#print(list(city_prices_df))

print ('Total # of rows in region_df: %s' % (len(city_geo_df)))
print ('Total # of columns in region_df: %s' % len(city_geo_df.columns))
#df.info()
#print(list(city_geo_df))

Total # of rows in df: 4172721
Total # of columns in df: 85
Total # of rows in region_df: 25341
Total # of columns in region_df: 4

In [5]:
#Create a new city_prices_df with only the columns of interest
# HVI - a smoothed seasonally adjusted measure of the median estimated home value across a given region and housing type
Zillow_df = city_prices_df[["Date","RegionName","MedianSoldPricePerSqft_AllHomes","MedianSoldPricePerSqft_SingleFamilyResidence",
               "MedianSoldPrice_AllHomes","ZHVIPerSqft_AllHomes","ZHVI_AllHomes", "ZHVI_SingleFamilyResidence"]]  
                            
#display(Zillow_df)

#Merge the two dataframes
merged_df = pd.merge(city_geo_df, Zillow_df, on="RegionName")
display(merged_df)

#Checkout merged_df output
print ('Total # of rows in df: %s' % (len(merged_df)))
print ('Total # of columns in df: %s' % len(merged_df.columns))
#merged_df.info()

,RegionName,City,County,State,Date,MedianSoldPricePerSqft_AllHomes,MedianSoldPricePerSqft_SingleFamilyResidence,MedianSoldPrice_AllHomes,ZHVIPerSqft_AllHomes,ZHVI_AllHomes,ZHVI_SingleFamilyResidence
0,oak_grovechristianky,Oak Grove,Christian,KY,1996-04-30,NaN,NaN,NaN,62.0,70000.0,70000.0
1,oak_grovechristianky,Oak Grove,Christian,KY,1996-05-31,NaN,NaN,NaN,62.0,69900.0,69900.0
2,oak_grovechristianky,Oak Grove,Christian,KY,1996-06-30,NaN,NaN,NaN,62.0,69700.0,69700.0
3,oak_grovechristianky,Oak Grove,Christian,KY,1996-07-31,NaN,NaN,NaN,62.0,70000.0,70000.0
4,oak_grovechristianky,Oak Grove,Christian,KY,1996-08-31,NaN,NaN,NaN,62.0,70100.0,70100.0
5,oak_grovechristianky,Oak Grove,Christian,KY,1996-09-30,NaN,NaN,NaN,62.0,70000.0,70000.0
6,oak_grovechristianky,Oak Grove,Christian,KY,1996-10-31,NaN,NaN,NaN,61.0,69900.0,69900.0
7,oak_grovechristianky,Oak Grove,Christian,KY,1996-11-30,NaN,NaN,NaN,61.0,69700.0,69700.0
8,oak_grovechristianky,Oak Grove,Christian,KY,1996-12-31,NaN,NaN,NaN,61.0,69100.0,69100.0
9,oak_grovechristianky,Oak Grove,Christian,KY,1997-01-31,NaN,NaN,NaN,61.0,68400.0,68400.0
10,oak_grovechristianky,Oak Grove,Christian,KY,1997-02-28,NaN,NaN,NaN,60.0,67800.0,67800.0
11,oak_grovechristianky,Oak Grove,Christian,KY,1997-03-31,NaN,NaN,NaN,60.0,67100.0,67100.0
12,oak_grovechristianky,Oak Grove,Christian,KY,1997-04-30,NaN,NaN,NaN,60.0,66100.0,66100.0
13,oak_grovechristianky,Oak Grove,Christian,KY,1997-05-31,NaN,NaN,NaN,59.0,65100.0,65100.0
14,oak_grovechristianky,Oak Grove,Christian,KY,1997-06-30,NaN,NaN,NaN,58.0,64700.0,64700.0
15,oak_grovechristianky,Oak Grove,Christian,KY,1997-07-31,NaN,NaN,NaN,57.0,64600.0,64600.0
16,oak_grovechristianky,Oak Grove,Christian,KY,1997-08-31,NaN,NaN,NaN,58.0,64400.0,64400.0
17,oak_grovechristianky,Oak Grove,Christian,KY,1997-09-30,NaN,NaN,NaN,59.0,64700.0,64700.0
18,oak_grovechristianky,Oak Grove,Christian,KY,1997-10-31,NaN,NaN,NaN,59.0,65200.0,65200.0
19,oak_grovechristianky,Oak Grove,Christian,KY,1997-11-30,NaN,NaN,NaN,60.0,65600.0,65600.0
20,oak_grovechristianky,Oak Grove,Christian,KY,1997-12-31,NaN,NaN,NaN,60.0,65700.0,65700.0
21,oak_grovechristianky,Oak Grove,Christian,KY,1998-01-31,NaN,NaN,NaN,60.0,66000.0,66000.0
22,oak_grovechristianky,Oak Grove,Christian,KY,1998-02-28,NaN,NaN,NaN,60.0,66500.0,66500.0
23,oak_grovechristianky,Oak Grove,Christian,KY,1998-03-31,NaN,NaN,NaN,59.0,66900.0,66900.0
24,oak_grovechristianky,Oak Grove,Christian,KY,1998-04-30,NaN,NaN,NaN,59.0,67100.0,67100.0
25,oak_grovechristianky,Oak Grove,Christian,KY,1998-05-31,NaN,NaN,NaN,60.0,67400.0,67400.0
26,oak_grovechristianky,Oak Grove,Christian,KY,1998-06-30,NaN,NaN,NaN,60.0,67600.0,67600.0
27,oak_grovechristianky,Oak Grove,Christian,KY,1998-07-31,NaN,NaN,NaN,61.0,68000.0,68000.0
28,oak_grovechristianky,Oak Grove,Christian,KY,1998-08-31,NaN,NaN,NaN,61.0,68300.0,68300.0
29,oak_grovechristianky,Oak Grove,Christian,KY,1998-09-30,NaN,NaN,NaN,61.0,68100.0,68100.0
...,...,...,...,...,...,...,...,...,...,...,...
4172691,henricohenricova,Henrico,Henrico,VA,2015-03-31,123.1458,126.2622,222325.0,123.0,208900.0,218000.0
4172692,henricohenricova,Henrico,Henrico,VA,2015-04-30,129.9062,131.1285,235975.0,124.0,210400.0,219600.0
4172693,henricohenricova,Henrico,Henrico,VA,2015-05-31,130.6975,130.4336,235625.0,125.0,212400.0,221000.0
4172694,henricohenricova,Henrico,Henrico,VA,2015-06-30,136.2351,136.5202,246625.0,125.0,213500.0,221500.0
4172695,henricohenricova,Henrico,Henrico,VA,2015-07-31,139.2337,141.4027,245550.0,124.0,213100.0,221200.0
4172696,henricohenricova,Henrico,Henrico,VA,2015-08-31,139.0673,141.2444,242382.5,124.0,212900.0,221100.0
4172697,henricohenricova,Henrico,Henrico,VA,2015-09-30,134.8130,134.8645,235842.5,125.0,213300.0,221500.0
4172698,henricohenricova,Henrico,Henrico,VA,2015-10-31,132.5857,131.0316,239575.0,125.0,214100.0,222200.0
4172699,henricohenricova,Henrico,Henrico,VA,2015-11-30,134.0385,132.2902,233075.0,125.0,214800.0,223000.0
4172700,henricohenricova,Henrico,Henrico,VA,2015-12-31,131.9681,131.5104,231965.0,125.0,215700.0,223800.0
4172701,henricohenricova,Henrico,Henrico,VA,2016-01-31,123.7981,123.8372,227685.0,126.0,215900.0,224000.0
4172702,henricohenricova,Henrico,Henrico,VA,2016-02-29,123.7773,123.8845,226630.0,126.0,214800.0,223200.0
4172703,henricohenricova,Henrico,Henrico,VA,2016-03-31,127.8503,126.3637,229320.0,126.0,213700.0,222100.0
4172704,henricohenricova,Henrico,Henrico,VA,2016-04-30,131.3571,129.6648,230425.0,126.0,214400.0,222700.0
4172705,henricohenricova,Henrico,Henrico,VA,2016-05-31,136.9592,136.8512,246432.5,127.0,216100.0,224500.0
4172706,henricohenricova,Henrico,Henrico,VA,2016-06-30,140.8765,141.5413,261192.5,128.0,218000.0,226200.0
4172707,henricohenricova,Henrico,Henrico,VA,2016-07-31,143.0572,143.5508,NaN,129.0,220000.0,227900.0
4172708,henricohenricova,Henrico,Henrico,VA,2016-08-31,NaN,NaN,NaN,130.0,222200.0,229800.0
4172709,henricohenricova,Henrico,Henrico,VA,2016-09-30,NaN,NaN,NaN,131.0,223700.0,231200.0
4172710,henricohenricova,Henrico,Henrico,VA,2016-10-31,NaN,NaN,NaN,132.0,224300.0,231800.0
4172711,henricohenricova,Henrico,Henrico,VA,2016-11-30,NaN,NaN,NaN,133.0,224900.0,232900.0
4172712,henricohenricova,Henrico,Henrico,VA,2016-12-31,NaN,NaN,NaN,133.0,225800.0,234200.0
4172713,henricohenricova,Henrico,Henrico,VA,2017-01-31,NaN,NaN,NaN,134.0,226200.0,234500.0
4172714,henricohenricova,Henrico,Henrico,VA,2017-02-28,NaN,NaN,NaN,134.0,226900.0,234400.0
4172715,henricohenricova,Henrico,Henrico,VA,2017-03-31,NaN,NaN,NaN,134.0,228000.0,234800.0
4172716,henricohenricova,Henrico,Henrico,VA,2017-04-30,NaN,NaN,NaN,135.0,229200.0,236100.0
4172717,henricohenricova,Henrico,Henrico,VA,2017-05-31,NaN,NaN,NaN,136.0,229800.0,237400.0
4172718,henricohenricova,Henrico,Henrico,VA,2017-06-30,NaN,NaN,NaN,136.0,230100.0,238300.0
4172719,henricohenricova,Henrico,Henrico,VA,2017-07-31,NaN,NaN,NaN,136.0,230800.0,239300.0
4172720,henricohenricova,Henrico,Henrico,VA,2017-08-31,NaN,NaN,NaN,137.0,231900.0,240400.0

Total # of rows in df: 4172721
Total # of columns in df: 11

In [37]:
#Clean up dataset
#Set date as index
mod_merged_df=merged_df.set_index('Date')
#display (mod_merged_df)

#Remove data prior to 2007
ten_year_merged_df= mod_merged_df.sort_index().truncate(before='2007-01-31')
display (ten_year_merged_df)
#ten_year_merged_df.info()

,RegionName,City,County,State,MedianSoldPricePerSqft_AllHomes,MedianSoldPricePerSqft_SingleFamilyResidence,MedianSoldPrice_AllHomes,ZHVIPerSqft_AllHomes,ZHVI_AllHomes,ZHVI_SingleFamilyResidence
Date,,,,,,,,,,
2007-01-31,weber_cityscottva,Weber City,Scott,VA,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,cascocumberlandme,Casco,Cumberland,ME,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,shelby_townshipmacombmi,Shelby Township,Macomb,MI,NaN,NaN,NaN,126.0,224100.0,239500.0
2007-01-31,monroevilleallenin,Monroeville,Allen,IN,NaN,NaN,NaN,69.0,108600.0,108600.0
2007-01-31,blanchardcentrepa,Blanchard,Centre,PA,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,edwardsvillemadisonil,Edwardsville,Madison,IL,NaN,NaN,NaN,102.0,170900.0,171700.0
2007-01-31,stoughtondanewi,Stoughton,Dane,WI,NaN,NaN,176345.0,104.0,179600.0,181700.0
2007-01-31,atlantaloganil,Atlanta,Logan,IL,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,concordmiddlesexma,Concord,Middlesex,MA,NaN,NaN,NaN,339.0,696200.0,749500.0
2007-01-31,alexandriaalexandria_cityva,Alexandria,Alexandria City,VA,318.0064,358.5832,397215.0,355.0,449900.0,632300.0
2007-01-31,franklinfranklinny,Franklin,Franklin,NY,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,ashawaywashingtonri,Ashaway,Washington,RI,NaN,NaN,NaN,183.0,255000.0,254800.0
2007-01-31,town_of_clintonmiddlesexct,Town of Clinton,Middlesex,CT,225.6225,NaN,282750.0,NaN,NaN,NaN
2007-01-31,beaumontriversideca,Beaumont,Riverside,CA,173.0534,172.8877,390250.0,194.0,369200.0,370100.0
2007-01-31,north_freedomsaukwi,North Freedom,Sauk,WI,NaN,NaN,NaN,NaN,187600.0,187600.0
2007-01-31,altohabershamga,Alto,Habersham,GA,NaN,NaN,NaN,81.0,110600.0,110600.0
2007-01-31,mount_clemensmacombmi,Mount Clemens,Macomb,MI,NaN,NaN,NaN,99.0,127900.0,129800.0
2007-01-31,brown_deermilwaukeewi,Brown Deer,Milwaukee,WI,NaN,NaN,NaN,NaN,80500.0,NaN
2007-01-31,cliogeneseemi,Clio,Genesee,MI,NaN,NaN,NaN,NaN,101500.0,101500.0
2007-01-31,hortonjacksonmi,Horton,Jackson,MI,NaN,NaN,NaN,87.0,139600.0,139600.0
2007-01-31,town_of_hamiltonmadisonny,Town of Hamilton,Madison,NY,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,roaring_riverwilkesnc,Roaring River,Wilkes,NC,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,brookfield_centertrumbulloh,Brookfield Center,Trumbull,OH,NaN,NaN,NaN,74.0,112900.0,112500.0
2007-01-31,leonloveok,Leon,Love,OK,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-31,simi_valleyventuraca,Simi Valley,Ventura,CA,327.1772,325.3276,545650.0,329.0,566200.0,584300.0
2007-01-31,pacificasan_mateoca,Pacifica,San Mateo,CA,511.8602,512.5542,662200.0,546.0,709100.0,712100.0
2007-01-31,omakokanoganwa,Omak,Okanogan,WA,NaN,NaN,NaN,93.0,121800.0,122000.0
2007-01-31,cooper_townshipkalamazoomi,Cooper Township,Kalamazoo,MI,NaN,NaN,NaN,88.0,130500.0,130500.0
2007-01-31,new_tazewellclaibornetn,New Tazewell,Claiborne,TN,NaN,NaN,NaN,74.0,100100.0,99700.0
2007-01-31,millerstownperrypa,Millerstown,Perry,PA,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2017-08-31,jessievillegarlandar,Jessieville,Garland,AR,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,princevillepeoriail,Princeville,Peoria,IL,NaN,NaN,NaN,90.0,132900.0,132900.0
2017-08-31,anthony_townshiplycomingpa,Anthony Township,Lycoming,PA,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,ellsworthantrimmi,Ellsworth,Antrim,MI,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,new_albanyunionms,New Albany,Union,MS,NaN,NaN,NaN,71.0,163200.0,163200.0
2017-08-31,danvillemorganal,Danville,Morgan,AL,NaN,NaN,NaN,NaN,NaN,119500.0
2017-08-31,cinco_ranchfort_bendtx,Cinco Ranch,Fort Bend,TX,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,free_unionalbemarleva,Free Union,Albemarle,VA,NaN,NaN,NaN,199.0,NaN,NaN
2017-08-31,pomarianewberrysc,Pomaria,Newberry,SC,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,smoakscolletonsc,Smoaks,Colleton,SC,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,rutledgecrenshawal,Rutledge,Crenshaw,AL,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,westvillekershawsc,Westville,Kershaw,SC,NaN,NaN,NaN,77.0,95800.0,95800.0
2017-08-31,town_of_new_berlinchenangony,Town of New Berlin,Chenango,NY,NaN,NaN,NaN,51.0,78700.0,78700.0
2017-08-31,silver_spring_townshipcumberlandpa,Silver Spring Township,Cumberland,PA,NaN,NaN,NaN,133.0,247400.0,248200.0
2017-08-31,salmonlemhiid,Salmon,Lemhi,ID,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,berwick_townshipadamspa,Berwick Township,Adams,PA,NaN,NaN,NaN,122.0,248200.0,249600.0
2017-08-31,unionmasonwa,Union,Mason,WA,NaN,NaN,NaN,163.0,290000.0,313100.0
2017-08-31,laytonsvillemontgomerymd,Laytonsville,Montgomery,MD,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,romekennebecme,Rome,Kennebec,ME,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,weyerhaeuserruskwi,Weyerhaeuser,Rusk,WI,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,whitelandjohnsonin,Whiteland,Johnson,IN,NaN,NaN,NaN,85.0,124100.0,124100.0
2017-08-31,baratariajeffersonla,Barataria,Jefferson,LA,NaN,NaN,NaN,NaN,146300.0,146300.0
2017-08-31,copalis_beachgrays_harborwa,Copalis Beach,Grays Harbor,WA,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,lower_providence_townshipmontgomerypa,Lower Providence Township,Montgomery,PA,NaN,NaN,NaN,164.0,380900.0,381100.0
2017-08-31,town_of_deruytermadisonny,Town of Deruyter,Madison,NY,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,glenburnlackawannapa,Glenburn,Lackawanna,PA,NaN,NaN,NaN,NaN,206800.0,205900.0
2017-08-31,oregon_cityclackamasor,Oregon City,Clackamas,OR,NaN,NaN,NaN,218.0,372700.0,376800.0
2017-08-31,rockland_townshipberkspa,Rockland Township,Berks,PA,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,saint_louisgratiotmi,Saint Louis,Gratiot,MI,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31,henricohenricova,Henrico,Henrico,VA,NaN,NaN,NaN,137.0,231900.0,240400.0

In [39]:
ten_year_merged_df=ten_year_merged_df.reset_index().set_index('City') 
# grouped_city_state= ten_year_merged_df.groupby(["City"])
# grouped_city_state.mean()
#grouped_city_state = ten_year_merged_df.groupby(['City','State']['RegionName']).apply(','.join).reset_index() #this is 2nd option
display(ten_year_merged_df)

,Date,RegionName,County,State,MedianSoldPricePerSqft_AllHomes,MedianSoldPricePerSqft_SingleFamilyResidence,MedianSoldPrice_AllHomes,ZHVIPerSqft_AllHomes,ZHVI_AllHomes,ZHVI_SingleFamilyResidence
City,,,,,,,,,,
Weber City,2007-01-31,weber_cityscottva,Scott,VA,NaN,NaN,NaN,NaN,NaN,NaN
Casco,2007-01-31,cascocumberlandme,Cumberland,ME,NaN,NaN,NaN,NaN,NaN,NaN
Shelby Township,2007-01-31,shelby_townshipmacombmi,Macomb,MI,NaN,NaN,NaN,126.0,224100.0,239500.0
Monroeville,2007-01-31,monroevilleallenin,Allen,IN,NaN,NaN,NaN,69.0,108600.0,108600.0
Blanchard,2007-01-31,blanchardcentrepa,Centre,PA,NaN,NaN,NaN,NaN,NaN,NaN
Edwardsville,2007-01-31,edwardsvillemadisonil,Madison,IL,NaN,NaN,NaN,102.0,170900.0,171700.0
Stoughton,2007-01-31,stoughtondanewi,Dane,WI,NaN,NaN,176345.0,104.0,179600.0,181700.0
Atlanta,2007-01-31,atlantaloganil,Logan,IL,NaN,NaN,NaN,NaN,NaN,NaN
Concord,2007-01-31,concordmiddlesexma,Middlesex,MA,NaN,NaN,NaN,339.0,696200.0,749500.0
Alexandria,2007-01-31,alexandriaalexandria_cityva,Alexandria City,VA,318.0064,358.5832,397215.0,355.0,449900.0,632300.0
Franklin,2007-01-31,franklinfranklinny,Franklin,NY,NaN,NaN,NaN,NaN,NaN,NaN
Ashaway,2007-01-31,ashawaywashingtonri,Washington,RI,NaN,NaN,NaN,183.0,255000.0,254800.0
Town of Clinton,2007-01-31,town_of_clintonmiddlesexct,Middlesex,CT,225.6225,NaN,282750.0,NaN,NaN,NaN
Beaumont,2007-01-31,beaumontriversideca,Riverside,CA,173.0534,172.8877,390250.0,194.0,369200.0,370100.0
North Freedom,2007-01-31,north_freedomsaukwi,Sauk,WI,NaN,NaN,NaN,NaN,187600.0,187600.0
Alto,2007-01-31,altohabershamga,Habersham,GA,NaN,NaN,NaN,81.0,110600.0,110600.0
Mount Clemens,2007-01-31,mount_clemensmacombmi,Macomb,MI,NaN,NaN,NaN,99.0,127900.0,129800.0
Brown Deer,2007-01-31,brown_deermilwaukeewi,Milwaukee,WI,NaN,NaN,NaN,NaN,80500.0,NaN
Clio,2007-01-31,cliogeneseemi,Genesee,MI,NaN,NaN,NaN,NaN,101500.0,101500.0
Horton,2007-01-31,hortonjacksonmi,Jackson,MI,NaN,NaN,NaN,87.0,139600.0,139600.0
Town of Hamilton,2007-01-31,town_of_hamiltonmadisonny,Madison,NY,NaN,NaN,NaN,NaN,NaN,NaN
Roaring River,2007-01-31,roaring_riverwilkesnc,Wilkes,NC,NaN,NaN,NaN,NaN,NaN,NaN
Brookfield Center,2007-01-31,brookfield_centertrumbulloh,Trumbull,OH,NaN,NaN,NaN,74.0,112900.0,112500.0
Leon,2007-01-31,leonloveok,Love,OK,NaN,NaN,NaN,NaN,NaN,NaN
Simi Valley,2007-01-31,simi_valleyventuraca,Ventura,CA,327.1772,325.3276,545650.0,329.0,566200.0,584300.0
Pacifica,2007-01-31,pacificasan_mateoca,San Mateo,CA,511.8602,512.5542,662200.0,546.0,709100.0,712100.0
Omak,2007-01-31,omakokanoganwa,Okanogan,WA,NaN,NaN,NaN,93.0,121800.0,122000.0
Cooper Township,2007-01-31,cooper_townshipkalamazoomi,Kalamazoo,MI,NaN,NaN,NaN,88.0,130500.0,130500.0
New Tazewell,2007-01-31,new_tazewellclaibornetn,Claiborne,TN,NaN,NaN,NaN,74.0,100100.0,99700.0
Millerstown,2007-01-31,millerstownperrypa,Perry,PA,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Jessieville,2017-08-31,jessievillegarlandar,Garland,AR,NaN,NaN,NaN,NaN,NaN,NaN
Princeville,2017-08-31,princevillepeoriail,Peoria,IL,NaN,NaN,NaN,90.0,132900.0,132900.0
Anthony Township,2017-08-31,anthony_townshiplycomingpa,Lycoming,PA,NaN,NaN,NaN,NaN,NaN,NaN
Ellsworth,2017-08-31,ellsworthantrimmi,Antrim,MI,NaN,NaN,NaN,NaN,NaN,NaN
New Albany,2017-08-31,new_albanyunionms,Union,MS,NaN,NaN,NaN,71.0,163200.0,163200.0
Danville,2017-08-31,danvillemorganal,Morgan,AL,NaN,NaN,NaN,NaN,NaN,119500.0
Cinco Ranch,2017-08-31,cinco_ranchfort_bendtx,Fort Bend,TX,NaN,NaN,NaN,NaN,NaN,NaN
Free Union,2017-08-31,free_unionalbemarleva,Albemarle,VA,NaN,NaN,NaN,199.0,NaN,NaN
Pomaria,2017-08-31,pomarianewberrysc,Newberry,SC,NaN,NaN,NaN,NaN,NaN,NaN
Smoaks,2017-08-31,smoakscolletonsc,Colleton,SC,NaN,NaN,NaN,NaN,NaN,NaN
Rutledge,2017-08-31,rutledgecrenshawal,Crenshaw,AL,NaN,NaN,NaN,NaN,NaN,NaN
Westville,2017-08-31,westvillekershawsc,Kershaw,SC,NaN,NaN,NaN,77.0,95800.0,95800.0
Town of New Berlin,2017-08-31,town_of_new_berlinchenangony,Chenango,NY,NaN,NaN,NaN,51.0,78700.0,78700.0
Silver Spring Township,2017-08-31,silver_spring_townshipcumberlandpa,Cumberland,PA,NaN,NaN,NaN,133.0,247400.0,248200.0
Salmon,2017-08-31,salmonlemhiid,Lemhi,ID,NaN,NaN,NaN,NaN,NaN,NaN
Berwick Township,2017-08-31,berwick_townshipadamspa,Adams,PA,NaN,NaN,NaN,122.0,248200.0,249600.0
Union,2017-08-31,unionmasonwa,Mason,WA,NaN,NaN,NaN,163.0,290000.0,313100.0
Laytonsville,2017-08-31,laytonsvillemontgomerymd,Montgomery,MD,NaN,NaN,NaN,NaN,NaN,NaN
Rome,2017-08-31,romekennebecme,Kennebec,ME,NaN,NaN,NaN,NaN,NaN,NaN
Weyerhaeuser,2017-08-31,weyerhaeuserruskwi,Rusk,WI,NaN,NaN,NaN,NaN,NaN,NaN
Whiteland,2017-08-31,whitelandjohnsonin,Johnson,IN,NaN,NaN,NaN,85.0,124100.0,124100.0
Barataria,2017-08-31,baratariajeffersonla,Jefferson,LA,NaN,NaN,NaN,NaN,146300.0,146300.0
Copalis Beach,2017-08-31,copalis_beachgrays_harborwa,Grays Harbor,WA,NaN,NaN,NaN,NaN,NaN,NaN
Lower Providence Township,2017-08-31,lower_providence_townshipmontgomerypa,Montgomery,PA,NaN,NaN,NaN,164.0,380900.0,381100.0
Town of Deruyter,2017-08-31,town_of_deruytermadisonny,Madison,NY,NaN,NaN,NaN,NaN,NaN,NaN
Glenburn,2017-08-31,glenburnlackawannapa,Lackawanna,PA,NaN,NaN,NaN,NaN,206800.0,205900.0
Oregon City,2017-08-31,oregon_cityclackamasor,Clackamas,OR,NaN,NaN,NaN,218.0,372700.0,376800.0
Rockland Township,2017-08-31,rockland_townshipberkspa,Berks,PA,NaN,NaN,NaN,NaN,NaN,NaN
Saint Louis,2017-08-31,saint_louisgratiotmi,Gratiot,MI,NaN,NaN,NaN,NaN,NaN,NaN
Henrico,2017-08-31,henricohenricova,Henrico,VA,NaN,NaN,NaN,137.0,231900.0,240400.0

In [44]:
#Selected cities below are based on cross-examination of data available for cities in HUD dataset
Cities = ["New York", "Philadelphia", "Boston", "Washington", "Chicago", "Minneapolis",
         "Denver", "Salt Lake City", "Seattle", "Los Angeles", "San Francisco", "Miami", 
         "Charlotte", "Atlanta", "Detroit", "Anchorage", "Honolulu", "Indianapolis"]

Selected_cities= (ten_year_merged_df.loc[Cities])
#Print csv file
Selected_cities.to_csv("selected_citites.csv")
display(Selected_cities)

#-------THE ABOVE CODE WORKS BUT I NEED TO USE STATE AS WELL----CONTINUE WORKING ON THIS

# Region=[]
# Cities=['Atlanta']
# States=['GA']

# for row in city_geo_df:
#     if city in Cities and state in States:
#         Region.append([RegionName])

# print(Region)



# #Create a new dataframe only with data for the selected cities -WORK IN PROGRESS
# for row in merged_df:
#     if city in Cities:
#         df.loc['City', 'City':'ZHVI_SingleFamilyResidence']


#Further Clean dataframe - remove data before 2007 and remove columns mostly empty
# df.dropna(axis=1, how='any', inplace=True)
# display(df)
# print ('Total # of rows: %s' % (len(Zillow_df)))
# print ('Total # of columns: %s' % len(Zillow_df.columns))

,Date,RegionName,County,State,MedianSoldPricePerSqft_AllHomes,MedianSoldPricePerSqft_SingleFamilyResidence,MedianSoldPrice_AllHomes,ZHVIPerSqft_AllHomes,ZHVI_AllHomes,ZHVI_SingleFamilyResidence
City,,,,,,,,,,
New York,2007-01-31,new_yorkqueensny,Queens,NY,386.8288,325.8641,477220.00,386.0,518800.0,532600.0
New York,2007-02-28,new_yorkqueensny,Queens,NY,392.0199,324.3134,473579.00,385.0,515800.0,530200.0
New York,2007-03-31,new_yorkqueensny,Queens,NY,401.2203,322.0690,478744.00,385.0,516200.0,528200.0
New York,2007-04-30,new_yorkqueensny,Queens,NY,419.6610,328.8118,495497.10,385.0,516200.0,526300.0
New York,2007-05-31,new_yorkqueensny,Queens,NY,449.5610,329.5494,515855.90,383.0,515500.0,524600.0
New York,2007-06-30,new_yorkqueensny,Queens,NY,452.9427,333.8735,531150.00,380.0,512200.0,522400.0
New York,2007-07-31,new_yorkqueensny,Queens,NY,476.1741,330.8305,550055.00,378.0,509300.0,520200.0
New York,2007-08-31,new_yorkqueensny,Queens,NY,469.8995,333.8789,552038.50,378.0,510100.0,518500.0
New York,2007-09-30,new_yorkqueensny,Queens,NY,455.3382,334.4008,543741.50,378.0,511800.0,517200.0
New York,2007-10-31,new_yorkqueensny,Queens,NY,439.6872,333.2210,529375.00,379.0,512800.0,516300.0
New York,2007-11-30,new_yorkqueensny,Queens,NY,429.8074,328.6494,519750.00,380.0,514300.0,515700.0
New York,2007-12-31,new_yorkqueensny,Queens,NY,430.6425,328.3215,515750.00,379.0,513500.0,514500.0
New York,2008-01-31,new_yorkqueensny,Queens,NY,429.6300,319.7207,507500.00,377.0,510300.0,512600.0
New York,2008-02-29,new_yorkqueensny,Queens,NY,449.5037,319.7680,511250.00,376.0,507600.0,510300.0
New York,2008-03-31,new_yorkqueensny,Queens,NY,504.9135,317.9565,536300.00,376.0,506400.0,508100.0
New York,2008-04-30,new_yorkqueensny,Queens,NY,514.3089,315.4814,548700.00,376.0,505100.0,506000.0
New York,2008-05-31,new_yorkqueensny,Queens,NY,508.2186,319.1216,556500.00,376.0,503700.0,503800.0
New York,2008-06-30,new_yorkqueensny,Queens,NY,498.3366,317.6537,558500.00,374.0,503000.0,500400.0
New York,2008-07-31,new_yorkqueensny,Queens,NY,539.2994,312.5104,581000.00,372.0,502600.0,496000.0
New York,2008-08-31,new_yorkqueensny,Queens,NY,591.0305,310.7110,604700.00,370.0,500800.0,491600.0
New York,2008-09-30,new_yorkqueensny,Queens,NY,598.8375,309.5623,592300.00,367.0,496700.0,487000.0
New York,2008-10-31,new_yorkqueensny,Queens,NY,564.0151,308.6591,567500.00,364.0,492000.0,481600.0
New York,2008-11-30,new_yorkqueensny,Queens,NY,517.6462,299.7545,548000.00,360.0,487700.0,475600.0
New York,2008-12-31,new_yorkqueensny,Queens,NY,503.2442,300.0776,548973.00,358.0,484500.0,471200.0
New York,2009-01-31,new_yorkqueensny,Queens,NY,452.0986,300.8512,536731.10,357.0,481400.0,468800.0
New York,2009-02-28,new_yorkqueensny,Queens,NY,420.9917,295.7507,516291.40,356.0,477300.0,466200.0
New York,2009-03-31,new_yorkqueensny,Queens,NY,396.8499,293.5347,503449.65,354.0,473200.0,462700.0
New York,2009-04-30,new_yorkqueensny,Queens,NY,388.9698,295.0473,507499.85,352.0,469600.0,459700.0
New York,2009-05-31,new_yorkqueensny,Queens,NY,387.9014,292.8975,499500.00,351.0,466200.0,456900.0
New York,2009-06-30,new_yorkqueensny,Queens,NY,379.6083,290.1199,491700.00,350.0,461900.0,453700.0
...,...,...,...,...,...,...,...,...,...,...
Indianapolis,2015-03-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,73.0,NaN,NaN
Indianapolis,2015-04-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,74.0,NaN,NaN
Indianapolis,2015-05-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,75.0,NaN,NaN
Indianapolis,2015-06-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,76.0,NaN,NaN
Indianapolis,2015-07-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,74.0,NaN,NaN
Indianapolis,2015-08-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,71.0,NaN,NaN
Indianapolis,2015-09-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2015-10-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2015-11-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2015-12-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-01-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-02-29,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-03-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-04-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-05-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-06-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-07-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,70.0,NaN,NaN
Indianapolis,2016-08-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,71.0,NaN,NaN
Indianapolis,2016-09-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,71.0,NaN,NaN
Indianapolis,2016-10-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,71.0,NaN,NaN
Indianapolis,2016-11-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,72.0,NaN,NaN
Indianapolis,2016-12-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,72.0,NaN,NaN
Indianapolis,2017-01-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,72.0,NaN,NaN
Indianapolis,2017-02-28,indianapolismarionin,Marion,IN,NaN,NaN,NaN,72.0,NaN,NaN
Indianapolis,2017-03-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,73.0,NaN,NaN
Indianapolis,2017-04-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,73.0,NaN,NaN
Indianapolis,2017-05-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,73.0,NaN,NaN
Indianapolis,2017-06-30,indianapolismarionin,Marion,IN,NaN,NaN,NaN,74.0,NaN,NaN
Indianapolis,2017-07-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,74.0,NaN,NaN
Indianapolis,2017-08-31,indianapolismarionin,Marion,IN,NaN,NaN,NaN,75.0,NaN,NaN