In [1]:
#UCB Project 1 - Homelessness and real estate prices
#Read and clean up Zillow Economics Data (1996-2017) 
#CITY DATA

In [9]:
#Import dependencies
import csv
import pandas as pd
from pandas import *
from IPython.display import display

In [11]:
#Read and assess the file
data_chunks = read_csv("City_time_series.csv", iterator=True, chunksize=500000)
city_prices_df= concat(data_chunks, ignore_index=True)
#display(city_prices_df.head())

city_geo_df= read_csv("cities_crosswalk.csv")
city_geo_df= city_geo_df.rename(columns = {'Unique_City_ID' : 'RegionName'})
#display(city_geo_df.head())

In [12]:
#Output anatomy of files
print ('Total # of rows in city_prices_df: %s' % (len(city_prices_df)))
print ('Total # of columns in city_prices_df: %s' % len(city_prices_df.columns))
print ('Total # of rows in city_geo_df: %s' % (len(city_geo_df)))
print ('Total # of columns in city_geo_df: %s' % len(city_geo_df.columns))
#print(list(city_geo_df))

Total # of rows in city_prices_df: 4172721
Total # of columns in city_prices_df: 85
Total # of rows in city_geo_df: 25341
Total # of columns in city_geo_df: 4

In [13]:
#Create a new city_prices_df with only the columns of interest -ADDED 4ADDITIONAL COLUMNS
#ZHVI = a smoothed seasonally adjusted measure of the median estimated home value across a given region and housing type
Zillow_df = city_prices_df[["Date","RegionName","MedianSoldPricePerSqft_AllHomes","MedianSoldPricePerSqft_SingleFamilyResidence",
               "MedianSoldPrice_AllHomes","ZHVIPerSqft_AllHomes","ZHVI_AllHomes", "ZHVI_SingleFamilyResidence", 
               "MedianRentalPricePerSqft_AllHomes", "MedianRentalPricePerSqft_SingleFamilyResidence", "MedianRentalPrice_AllHomes", 
               "ZRI_AllHomes", "ZriPerSqft_AllHomes"]]             

#Merge the two dataframes
merged_df = pd.merge(city_geo_df, Zillow_df, on="RegionName")

#Checkout merged_df output
print ('Total # of rows in df: %s' % (len(merged_df)))
print ('Total # of columns in df: %s' % len(merged_df.columns))

Total # of rows in df: 4172721
Total # of columns in df: 16

In [14]:
#Clean up dataset
#Set date as index
mod_merged_df=merged_df.set_index('Date')

#Remove data prior to 2007
ten_years_merged_df= mod_merged_df.sort_index().truncate(before='2007-01-31')

In [15]:
#Combine city and state in a new column to call later
new_column = ten_years_merged_df['City'] + ", " + ten_years_merged_df['State']
ten_years_merged_df.insert(loc=0, column='CityState',value= new_column)

#Remove unecessary columns
final_zillow_df = ten_years_merged_df.drop(['RegionName', 'City', 'County', 'State'], axis=1)

#Reset index to City
reset_final_zillow_df=final_zillow_df.reset_index().set_index('CityState')

In [16]:
def ext_year(date):
    year = date.split('-')
    return year[0]

reset_final_zillow_df["Year"] = reset_final_zillow_df["Date"].apply(ext_year)
reset_final_zillow_df = reset_final_zillow_df.drop(['Date'], axis=1)
display(reset_final_zillow_df)

,MedianSoldPricePerSqft_AllHomes,MedianSoldPricePerSqft_SingleFamilyResidence,MedianSoldPrice_AllHomes,ZHVIPerSqft_AllHomes,ZHVI_AllHomes,ZHVI_SingleFamilyResidence,MedianRentalPricePerSqft_AllHomes,MedianRentalPricePerSqft_SingleFamilyResidence,MedianRentalPrice_AllHomes,ZRI_AllHomes,ZriPerSqft_AllHomes,Year
CityState,,,,,,,,,,,,
"Weber City, VA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Casco, ME",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Shelby Township, MI",NaN,NaN,NaN,126.0,224100.0,239500.0,NaN,NaN,NaN,NaN,NaN,2007
"Monroeville, IN",NaN,NaN,NaN,69.0,108600.0,108600.0,NaN,NaN,NaN,NaN,NaN,2007
"Blanchard, PA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Edwardsville, IL",NaN,NaN,NaN,102.0,170900.0,171700.0,NaN,NaN,NaN,NaN,NaN,2007
"Stoughton, WI",NaN,NaN,176345.0,104.0,179600.0,181700.0,NaN,NaN,NaN,NaN,NaN,2007
"Atlanta, IL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Concord, MA",NaN,NaN,NaN,339.0,696200.0,749500.0,NaN,NaN,NaN,NaN,NaN,2007
"Alexandria, VA",318.0064,358.5832,397215.0,355.0,449900.0,632300.0,NaN,NaN,NaN,NaN,NaN,2007
"Franklin, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Ashaway, RI",NaN,NaN,NaN,183.0,255000.0,254800.0,NaN,NaN,NaN,NaN,NaN,2007
"Town of Clinton, CT",225.6225,NaN,282750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Beaumont, CA",173.0534,172.8877,390250.0,194.0,369200.0,370100.0,NaN,NaN,NaN,NaN,NaN,2007
"North Freedom, WI",NaN,NaN,NaN,NaN,187600.0,187600.0,NaN,NaN,NaN,NaN,NaN,2007
"Alto, GA",NaN,NaN,NaN,81.0,110600.0,110600.0,NaN,NaN,NaN,NaN,NaN,2007
"Mount Clemens, MI",NaN,NaN,NaN,99.0,127900.0,129800.0,NaN,NaN,NaN,NaN,NaN,2007
"Brown Deer, WI",NaN,NaN,NaN,NaN,80500.0,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Clio, MI",NaN,NaN,NaN,NaN,101500.0,101500.0,NaN,NaN,NaN,NaN,NaN,2007
"Horton, MI",NaN,NaN,NaN,87.0,139600.0,139600.0,NaN,NaN,NaN,NaN,NaN,2007
"Town of Hamilton, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Roaring River, NC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Brookfield Center, OH",NaN,NaN,NaN,74.0,112900.0,112500.0,NaN,NaN,NaN,NaN,NaN,2007
"Leon, OK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
"Simi Valley, CA",327.1772,325.3276,545650.0,329.0,566200.0,584300.0,NaN,NaN,NaN,NaN,NaN,2007
"Pacifica, CA",511.8602,512.5542,662200.0,546.0,709100.0,712100.0,NaN,NaN,NaN,NaN,NaN,2007
"Omak, WA",NaN,NaN,NaN,93.0,121800.0,122000.0,NaN,NaN,NaN,NaN,NaN,2007
"Cooper Township, MI",NaN,NaN,NaN,88.0,130500.0,130500.0,NaN,NaN,NaN,NaN,NaN,2007
"New Tazewell, TN",NaN,NaN,NaN,74.0,100100.0,99700.0,NaN,NaN,NaN,NaN,NaN,2007
"Millerstown, PA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
...,...,...,...,...,...,...,...,...,...,...,...,...
"Jessieville, AR",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Princeville, IL",NaN,NaN,NaN,90.0,132900.0,132900.0,NaN,NaN,NaN,1114.0,0.814,2017
"Anthony Township, PA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Ellsworth, MI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1034.0,NaN,2017
"New Albany, MS",NaN,NaN,NaN,71.0,163200.0,163200.0,NaN,NaN,NaN,1184.0,0.580,2017
"Danville, AL",NaN,NaN,NaN,NaN,NaN,119500.0,NaN,NaN,NaN,861.0,0.616,2017
"Cinco Ranch, TX",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2401.0,0.806,2017
"Free Union, VA",NaN,NaN,NaN,199.0,NaN,NaN,NaN,NaN,NaN,1755.0,1.078,2017
"Pomaria, SC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032.0,0.656,2017
"Smoaks, SC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Rutledge, AL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Westville, SC",NaN,NaN,NaN,77.0,95800.0,95800.0,NaN,NaN,NaN,970.0,0.774,2017
"Town of New Berlin, NY",NaN,NaN,NaN,51.0,78700.0,78700.0,NaN,NaN,NaN,1179.0,0.758,2017
"Silver Spring Township, PA",NaN,NaN,NaN,133.0,247400.0,248200.0,NaN,NaN,NaN,1658.0,0.916,2017
"Salmon, ID",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1199.0,0.722,2017
"Berwick Township, PA",NaN,NaN,NaN,122.0,248200.0,249600.0,NaN,NaN,NaN,1379.0,0.728,2017
"Union, WA",NaN,NaN,NaN,163.0,290000.0,313100.0,NaN,NaN,NaN,1404.0,0.856,2017
"Laytonsville, MD",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Rome, ME",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Weyerhaeuser, WI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Whiteland, IN",NaN,NaN,NaN,85.0,124100.0,124100.0,NaN,NaN,NaN,1167.0,0.772,2017
"Barataria, LA",NaN,NaN,NaN,NaN,146300.0,146300.0,NaN,NaN,NaN,1358.0,NaN,2017
"Copalis Beach, WA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Lower Providence Township, PA",NaN,NaN,NaN,164.0,380900.0,381100.0,NaN,NaN,NaN,2274.0,0.996,2017
"Town of Deruyter, NY",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Glenburn, PA",NaN,NaN,NaN,NaN,206800.0,205900.0,NaN,NaN,NaN,1500.0,NaN,2017
"Oregon City, OR",NaN,NaN,NaN,218.0,372700.0,376800.0,NaN,NaN,NaN,1965.0,1.166,2017
"Rockland Township, PA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
"Saint Louis, MI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844.0,NaN,2017
"Henrico, VA",NaN,NaN,NaN,137.0,231900.0,240400.0,0.948034,0.939306,1425.0,1459.0,0.864,2017

In [17]:
#Selected cities below are based on cross-examination of data available for cities in HUD dataset
Cities = ["New York, NY", "Philadelphia, PA", "Boston, MA", "Washington, DC", "Chicago, IL", 
          "Minneapolis, MN", "Denver, CO", "Salt Lake City, UT", "Seattle, WA", "Los Angeles, CA", 
          "San Francisco, CA","Miami, FL,","Charlotte, NC", "Atlanta, GA", "Detroit, MI", 
          "Anchorage, AK", "Honolulu, HI", "Indianapolis, IN"]

Selected_cities= (reset_final_zillow_df.loc[Cities])

#Groupby CityState and Year and get mean
grouped_CityState_Year= Selected_cities.groupby(["CityState", "Year"])
Zillow_selected_cities_mean= grouped_CityState_Year.mean()
display (Zillow_selected_cities_mean)

#Print csv file
Zillow_selected_cities_mean.to_csv("18_zillow_selected_cities_mean_extracols.csv")

#Further Clean dataframe - remove NANs
# df.dropna(axis=1, how='any', inplace=True)

                        MedianSoldPricePerSqft_AllHomes  \
CityState         Year
Anchorage, AK     2007                              NaN
                  2008                              NaN
                  2009                              NaN
                  2010                              NaN
                  2011                              NaN
                  2012                              NaN
                  2013                              NaN
                  2014                              NaN
                  2015                              NaN
                  2016                              NaN
                  2017                              NaN
Atlanta, GA       2007                       168.931508
                  2008                       154.565250
                  2009                       145.401150
                  2010                       146.298967
                  2011                       153.547900
                  2012                       150.160933
                  2013                       167.450092
                  2014                       182.251608
                  2015                       194.083075
                  2016                       206.584386
                  2017                              NaN
Boston, MA        2007                       355.376100
                  2008                       361.741483
                  2009                       338.552000
                  2010                       360.332650
                  2011                       381.571258
                  2012                       382.170042
                  2013                       427.719958
                  2014                       459.340508
...                                                 ...
San Francisco, CA 2010                       571.629117
                  2011                       546.432183
                  2012                       603.421683
                  2013                       720.226483
                  2014                       834.283592
                  2015                       949.884517
                  2016                       950.291514
                  2017                              NaN
Seattle, WA       2007                       339.065017
                  2008                       316.641600
                  2009                       285.674525
                  2010                       288.759733
                  2011                       270.015833
                  2012                       266.292525
                  2013                       295.080875
                  2014                       318.234317
                  2015                       359.184458
                  2016                       417.986400
                  2017                              NaN
Washington, DC    2007                       397.184017
                  2008                       402.398867
                  2009                       403.229425
                  2010                       414.455117
                  2011                       412.378150
                  2012                       418.741275
                  2013                       456.611067
                  2014                       472.769608
                  2015                       498.196842
                  2016                       507.444371
                  2017                              NaN

                        MedianSoldPricePerSqft_SingleFamilyResidence  \
CityState         Year
Anchorage, AK     2007                                           NaN
                  2008                                           NaN
                  2009                                           NaN
                  2010                                           NaN
                  2011                                           NaN
                  2012                                           NaN
                  2013                                           NaN
                  2014                                           NaN
                  2015                                           NaN
                  2016                                           NaN
                  2017                                           NaN
Atlanta, GA       2007                                    155.886225
                  2008                                    133.746633
                  2009                                    124.554808
                  2010                                    125.746933
                  2011                                    166.226483
                  2012                                    162.257233
                  2013                                    176.385733
                  2014                                    184.106883
                  2015                                    195.480850
                  2016                                    209.594486
                  2017                                           NaN
Boston, MA        2007                                    254.798292
                  2008                                    233.016517
                  2009                                    227.182350
                  2010                                    241.543592
                  2011                                    234.065367
                  2012                                    246.916067
                  2013                                    270.542408
                  2014                                    282.698075
...                                                              ...
San Francisco, CA 2010                                    528.550442
                  2011                                    492.325817
                  2012                                    518.294658
                  2013                                    605.971217
                  2014                                    703.940033
                  2015                                    825.397708
                  2016                                    870.515200
                  2017                                           NaN
Seattle, WA       2007                                    302.125317
                  2008                                    285.985683
                  2009                                    260.540275
                  2010                                    272.572817
                  2011                                    261.494633
                  2012                                    259.680700
                  2013                                    277.675275
                  2014                                    296.497983
                  2015                                    337.680742
                  2016                                    398.459243
                  2017                                           NaN
Washington, DC    2007                                    308.336608
                  2008                                    301.205442
                  2009                                    322.960458
                  2010                                    328.611950
                  2011                                    321.688117
                  2012                                    326.867800
                  2013                                    356.767633
                  2014                                    366.061883
                  2015                                    397.410067
                  2016                                    400.157529
                  2017                                           NaN

                        MedianSoldPrice_AllHomes  ZHVIPerSqft_AllHomes  \
CityState         Year
Anchorage, AK     2007                       NaN            201.333333
                  2008                       NaN            199.500000
                  2009                       NaN            185.416667
                  2010                       NaN            175.333333
                  2011                       NaN            173.500000
                  2012                       NaN            173.416667
                  2013                       NaN            177.500000
                  2014                       NaN            183.500000
                  2015                       NaN            188.166667
                  2016                       NaN            190.750000
                  2017                       NaN            191.000000
Atlanta, GA       2007              2.136846e+05            157.333333
                  2008              1.979008e+05            146.916667
                  2009              1.786125e+05            132.916667
                  2010              1.899953e+05            121.416667
                  2011              2.219042e+05            104.666667
                  2012              2.112967e+05             97.083333
                  2013              2.260000e+05            109.000000
                  2014              2.335262e+05            123.333333
                  2015              2.442958e+05            142.166667
                  2016              2.502083e+05            162.333333
                  2017                       NaN            177.250000
Boston, MA        2007              3.525299e+05            323.250000
                  2008              3.539604e+05            316.666667
                  2009              3.401214e+05            304.000000
                  2010              3.640929e+05            310.666667
                  2011              3.833858e+05            309.166667
                  2012              3.934808e+05            319.416667
                  2013              4.194875e+05            351.583333
                  2014              4.439000e+05            389.833333
...                                          ...                   ...
San Francisco, CA 2010              7.038729e+05            550.666667
                  2011              6.687333e+05            527.500000
                  2012              7.227375e+05            552.750000
                  2013              8.287479e+05            655.083333
                  2014              9.529917e+05            753.416667
                  2015              1.105723e+06            864.750000
                  2016              1.168021e+06            900.083333
                  2017                       NaN            936.500000
Seattle, WA       2007              4.121292e+05            337.416667
                  2008              4.060830e+05            322.666667
                  2009              3.761792e+05            288.583333
                  2010              3.850125e+05            273.500000
                  2011              3.731375e+05            257.833333
                  2012              3.637862e+05            265.750000
                  2013              4.010242e+05            295.416667
                  2014              4.227885e+05            321.750000
                  2015              4.678804e+05            362.583333
                  2016              5.318833e+05            417.000000
                  2017                       NaN            462.625000
Washington, DC    2007              3.805167e+05            362.500000
                  2008              3.749541e+05            344.500000
                  2009              3.972687e+05            326.166667
                  2010              4.111308e+05            344.166667
                  2011              4.273062e+05            340.833333
                  2012              4.297260e+05            352.000000
                  2013              4.696716e+05            380.083333
                  2014              4.890404e+05            417.750000
                  2015              5.127592e+05            450.666667
                  2016              5.228417e+05            475.250000
                  2017                       NaN            496.750000

                        ZHVI_AllHomes  ZHVI_SingleFamilyResidence  \
CityState         Year
Anchorage, AK     2007   3.007583e+05                3.251500e+05
                  2008   2.961917e+05                3.194667e+05
                  2009   2.722917e+05                2.943417e+05
                  2010   2.597667e+05                2.820250e+05
                  2011   2.602333e+05                2.825083e+05
                  2012   2.613250e+05                2.826750e+05
                  2013   2.705750e+05                2.933667e+05
                  2014   2.793417e+05                3.037417e+05
                  2015   2.893333e+05                3.125000e+05
                  2016   2.929750e+05                3.154167e+05
                  2017   2.938250e+05                3.161625e+05
Atlanta, GA       2007   1.941917e+05                1.798250e+05
                  2008   1.797083e+05                1.632000e+05
                  2009   1.595667e+05                1.407083e+05
                  2010   1.455000e+05                1.243917e+05
                  2011   1.263667e+05                1.081417e+05
                  2012   1.160833e+05                9.502500e+04
                  2013   1.320333e+05                1.036083e+05
                  2014   1.502667e+05                1.157333e+05
                  2015   1.709833e+05                1.319667e+05
                  2016   1.926167e+05                1.544083e+05
                  2017   2.082250e+05                1.704500e+05
Boston, MA        2007   3.597750e+05                3.654083e+05
                  2008   3.472167e+05                3.474917e+05
                  2009   3.316417e+05                3.264000e+05
                  2010   3.388500e+05                3.398833e+05
                  2011   3.422833e+05                3.395083e+05
                  2012   3.549667e+05                3.478417e+05
                  2013   3.906667e+05                3.795500e+05
                  2014   4.253000e+05                4.121083e+05
...                               ...                         ...
San Francisco, CA 2010   7.064417e+05                7.213500e+05
                  2011   6.747167e+05                6.820000e+05
                  2012   6.972500e+05                6.965250e+05
                  2013   8.139833e+05                8.144667e+05
                  2014   9.372917e+05                9.382500e+05
                  2015   1.074500e+06                1.075375e+06
                  2016   1.131333e+06                1.142442e+06
                  2017   1.197125e+06                1.234575e+06
Seattle, WA       2007   4.620000e+05                5.039417e+05
                  2008   4.404667e+05                4.808500e+05
                  2009   3.936667e+05                4.305250e+05
                  2010   3.766417e+05                4.105250e+05
                  2011   3.570417e+05                3.932250e+05
                  2012   3.700000e+05                4.097833e+05
                  2013   4.133333e+05                4.521917e+05
                  2014   4.471000e+05                4.949750e+05
                  2015   5.072667e+05                5.610167e+05
                  2016   5.919833e+05                6.484583e+05
                  2017   6.607375e+05                7.271625e+05
Washington, DC    2007   3.962417e+05                4.299833e+05
                  2008   3.729583e+05                3.941250e+05
                  2009   3.488333e+05                3.619000e+05
                  2010   3.637167e+05                3.693000e+05
                  2011   3.597417e+05                3.614333e+05
                  2012   3.735833e+05                3.738417e+05
                  2013   4.087750e+05                4.218583e+05
                  2014   4.512917e+05                4.720500e+05
                  2015   4.909417e+05                5.195667e+05
                  2016   5.175333e+05                5.589667e+05
                  2017   5.484250e+05                6.003750e+05

                        MedianRentalPricePerSqft_AllHomes  \
CityState         Year
Anchorage, AK     2007                                NaN
                  2008                                NaN
                  2009                                NaN
                  2010                                NaN
                  2011                           1.222493
                  2012                           1.205295
                  2013                           1.278391
                  2014                           1.275225
                  2015                           1.283988
                  2016                           1.266375
                  2017                           1.262792
Atlanta, GA       2007                                NaN
                  2008                                NaN
                  2009                                NaN
                  2010                           1.088062
                  2011                           1.059385
                  2012                           0.960792
                  2013                           0.979325
                  2014                           0.933797
                  2015                           1.104932
                  2016                           1.230012
                  2017                           1.406788
Boston, MA        2007                                NaN
                  2008                                NaN
                  2009                                NaN
                  2010                                NaN
                  2011                           2.820690
                  2012                           2.959529
                  2013                           3.144015
                  2014                           3.132290
...                                                   ...
San Francisco, CA 2010                           2.684050
                  2011                           2.813513
                  2012                           3.099758
                  2013                           3.592278
                  2014                           3.675748
                  2015                           4.110649
                  2016                           4.053379
                  2017                           4.091888
Seattle, WA       2007                                NaN
                  2008                                NaN
                  2009                                NaN
                  2010                           1.406506
                  2011                           1.400877
                  2012                           1.548439
                  2013                           1.777616
                  2014                           1.774725
                  2015                           1.953955
                  2016                           2.062130
                  2017                           2.138345
Washington, DC    2007                                NaN
                  2008                                NaN
                  2009                                NaN
                  2010                           2.261968
                  2011                           2.485139
                  2012                           2.527697
                  2013                           2.836856
                  2014                           2.653406
                  2015                           2.834838
                  2016                           2.867444
                  2017                           2.968151
